:root {
	--clr-primary-400: 263 55% 52%; // Violet
	--clr-secondary-400: 217 19% 35%; // Gray blue
	--clr-secondary-500: 219 29% 14%;  // Black blue
	--clr-neutral-100: 0 0% 100%; // White
	--clr-neutral-200: 210 46% 95%;  // Light gray blue
	--clr-neutral-300: 0 0% 81%; // Gray
}
