body {
	background-color: hsl(212, 45%, 89%);
}

:root {
	--content-spacer: 1em;
}

.testimonial-grid {
	display: grid;
	padding-block: 3rem;
	gap: 1.5rem;
	grid-auto-columns: 1fr;
	grid-template-areas:
		'one'
		'two'
		'three'
		'four'
		'five';

	width: min(95%, 150rem);
	margin-inline: auto;
}

@media (min-width: 768px) {
	.testimonial-grid {
		grid-template-columns: repeat(2, 1fr);
		grid-template-areas:
			'one one'
			'two five'
			'three five'
			'four four';
	}
}

@media (min-width: 992px) {
	.testimonial-grid {
		grid-template-columns: repeat(4, 1fr);
		grid-template-areas:
			'one one two five'
			'three four four five';
	}
}
